*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: "Share Tech Mono", sans-serif;
    height: 100%;
    min-height: 100lvh;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-container {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 700px;
    background-color: #cecfd3;
    border: 20px outset rgba(237, 237, 237, 0.684);
    border-radius: 20px;
    box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.784);
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    margin: 20px;
}

.result-container {
    background-color: #d5e2e2;
    border: 15px inset rgb(220, 218, 218);
    padding: 10px 5px 0px;
    flex: 1;
}

.result-container .result-text {
    width: 100%;
    direction: rtl;
    text-align: right;
    overflow-x: hidden;
    font-size: 4.6em;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    flex: 5;
    /* background-color: black; */
    padding: 5px;
    border-radius: 10px;
}

.buttons-container .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: auto;
}

.buttons-container .row button {
    font-family: "Share Tech Mono", sans-serif;
    flex: 1 1 25%;
    border: 10px outset #cfcdcd;
    padding: 5px;
    font-size: 1.8em;
    font-weight: bold;
    background-color: #38393f;
    border: 10px outset #4d4e57;
    color: #fff;
}

.buttons-container .row button:active {
    transform: scale(0.9);
}

.buttons-container .row #clear-btn,#delete-btn {
    background-color: #922828;
    border: 10px outset #9a3434;
    color: #fff;
}

.buttons-container .row .operator-btn {
    background-color: #cd8013;
    border: 10px outset #e3972d;
    color: #fff;
}

.buttons-container .row button.wide-btn {
    flex: 2 1 50%;
    background-color: #396d2f;
    border: 10px outset #5c7956;
    color: #fff;
}